body{
    background-image: url(../img/fundo_blur.jpg);
    background-repeat: no-repeat;
    background-color: #A3AA00;
    background-position: inherit;
    font-family: 'Candy Crush', sans-serif;
    text-align: center;
    
}

.kenzieCrush{
    text-align: center;
    height: 23vw;
    font-size: 17vw;
    font-family: 'Candy Crush', sans-serif;
    padding: 10px;

    color: #fff;
    
}


.showPlayer{
    text-align: center;
    height: 6vw;
    font-size: 7vw;
    width: 310px;
    margin: 0 auto;
    padding: 0.5em 0;
    border-radius: 0.5em;
    text-transform: uppercase;
    font-family:'Candy Crush', sans-serif;
}

.buttonReset{
    margin: 10px;
    border: 0px;
    font-family: 'Candy Crush';
    width: 66px;
    font-size: 18px;
    height: 24px;
    border-radius: 12px;
    background-color: #EF53D3;

}

#boxMsn div{
    text-align: center;
    height: 10vw;
    font-size: 7vw;
}

.column{
    width: 40vw;
    height: 60vh;
    border: 0.4px solid #4DA0FE; 
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    flex-direction: column-reverse;

    max-width: 70px;
    max-height: 390px;

}

.cel{
    width: 45px;
    height: 45px;

}

.table{
    display: flex;
    justify-content: center;
    align-items: center;
}

.player1 {
    width: 45px;
    height: 45px;
    background-image: url(../img/jujubateste.png);
    background-repeat: no-repeat;
}

.player2 {
    width: 45px;
    height: 45px;
    background-image: url(../img/jujubateste2.png);
    background-repeat: no-repeat;
}

@media screen and (min-width: 768px){

    body{
        background-position: right;
    }
    
    .kenzieCrush{
        height: 8vw;
        font-size: 7vw;
    }
    
    
    .showPlayer{
        height: 3vw;
        font-size: 3vw;
    }
    
    .buttonReset{
        width: 96px;
        font-size: 19px;
        height: 34px;
    }
    
    #boxMsn div{
        height: 3.5vw;
        font-size: 3vw;
    }
}